@model List<Student_Managemet_System.Models.Student>

<div class="container my-5">
    <div class="card shadow-lg border-0">
        <div class="card-header bg-primary text-white text-center">
            <h2 class="mb-0">Student List</h2>
        </div>

        <div class="card-body">
            <div class="d-flex justify-content-end mb-3">
                <a asp-action="Create" class="btn btn-success">
                    <i class="bi bi-person-plus-fill"></i> Add New Student
                </a>
            </div>

            <div class="table-responsive">
                
                    <table class="table table-bordered mt-2">
                        <thead class="table-light">
                            <tr>
                                <th>Id</th>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th>std_id</th>
                                <th>Email</th>
                                <th>Rank</th>
                                <th>Document</th>
                                <th>Phone</th>
                                <th>Education</th>
                            <th class="vw-300" style="width:100px">Description</th>
                            </tr>
                        </thead>
                        <tbody>  
                             @foreach (var student in Model) 
                            { 
                               <tr>
                                <td>
                                    @student.Id
                                </td>
                                <td> 
                                    @student.FirstName 
                                </td> 
                                <td>
                                    @student.LastName
                                </td> 
                                    <td>
                                    @student.Address
                                </td> 
                                   <td>
                                    @student.City
                                </td> 
                                <td>
                                    @student.Username
                                </td>
                                <td>
                                    @student.Password
                                </td>
                                <td>
                                    @student.std_id
                                </td>
                                <td>
                                    @student.Email
                                </td>
                                <td>
                                    @student.Rank
                                </td>
                                <td>
                                    @student.Document
                                </td>
                                <td>
                                    @student.Phone
                                </td>
                                <td>
                                    @student.Education
                                </td>
                                <td class="vw-300" style="width:100px">
                                    @student.Description
                                </td>
                                <td class="vw-200" style="width:100px"> 
                                      <a asp-action="Edit" asp-controller="Student" asp-route-id="@student.Id" class="btn btn-warning btn-sm">edit</a> 
                                      <a asp-action="Details" asp-controller="Student" asp-route-id="@student.Id" class="btn btn-info btn-sm">details</a> 
                                      <a asp-action="Delete" asp-route-id="@student.Id" class="btn btn-danger btn-sm" onclick="return confirm('are you sure you want to delete this student?');">delete</a> 
                                   </td> 
                                </tr> 
                                } 
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>
